<!doctype html>
<html amp lang="<%= site.customConfig.lang %>">
    <head>
  <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
  <meta http-equiv="refresh" content="1;url=<%= themeConfig.domain %>"> 

  </head>
  <body>
    <%- include('./includes/footer') %>

  </body>
</html>
