<div id="comments" class="comments content">
  <div id="respond" class="comment-respond">
    <amp-iframe width=600 height=200 layout="responsive"
      sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms" resizable
      src="<%= site.customConfig.disqusurl %>?title=<%= post.title %>&url=<%= post.link %>&identifier=<%= post.link %>">
      <div
      overflow
      tabindex=0
      role=button
      aria-label="Disqus Comments"
  >Disqus Comments</div>
    </amp-iframe>

  </div>
</div>
