<footer>
  <div class="footer-container">
    <div class="footer-menus">
    </div>
    <div class="footer-copyright">
      <%- themeConfig.footerInfo %>
      <% if (site.customConfig.update === 'updatestable') { %>
      <p>
        主题版本：1.3.0-beta.0；最新版本：<br><br><br><br>
        <a href="https://github.com/jiansing/gridea-theme-inlineamp/releases" rel="nofollow">
        <amp-img alt="InlineAMP release (latest by date)" src="https://img.shields.io/github/v/release/jiansing/gridea-theme-inlineamp" height="20" width="80"></amp-img></a>
      </p>
      <% } %>
      <% if (site.customConfig.update === 'updatebeta') { %>
        <p>
        主题版本：1.3.0-beta.0；最新版本：<br><br><br><br>
        <a href="https://github.com/jiansing/gridea-theme-inlineamp/releases" rel="nofollow">
        <amp-img alt="InlineAMP release (latest by date including pre-releases)" src="https://img.shields.io/github/v/release/jiansing/gridea-theme-inlineamp?include_prereleases" height="20" width="140"></amp-img>
        </p>
        <% } %>

    </div>
  </div>
</footer>
