<div class="social-share">
  <div class="social-share-box">
    <amp-social-share class="rounded" type="email" layout="responsive" width="20" height="20"></amp-social-share>
  </div>
  <div class="social-share-box">
    <amp-social-share class="rounded" type="linkedin" layout="responsive" width="20" height="20">
    </amp-social-share>
  </div>
  <div class="social-share-box">
    <amp-social-share class="rounded" type="pinterest" layout="responsive"
      data-param-media="https://amp.dev/static/samples/img/amp.jpg" width="20" height="20"></amp-social-share>
  </div>
  <div class="social-share-box">
    <amp-social-share class="rounded" type="tumblr" layout="responsive" width="20" height="20"></amp-social-share>
  </div>
  <div class="social-share-box">
    <amp-social-share class="rounded" type="twitter" layout="responsive" width="20" height="20">
    </amp-social-share>
  </div>
  <div class="social-share-box">
    <amp-social-share class="rounded" type="whatsapp" layout="responsive" width="20" height="20">
    </amp-social-share>
  </div>
  <div class="social-share-box">
    <amp-social-share class="rounded" type="line" layout="responsive" width="20" height="20"></amp-social-share>
  </div>
</div>